extends ../layout
block body
  .jumbotron
    h2 书本资料库信息
    table.table.table-bordered
      thead
        tr
          th(width='20%') 书号
          th(width='20%') 书名
          th(width='15%') 版次
          th(width='15%') 所属学院
          th(width='10%') 库存
          th 操作
      tbody
        if none
          tr
            td#none-td(colspan=6) 没有记录
        else
          each book in books
            tr
              td #{book.bookId}
              td #{book.title}
              td #{book.edition}
              td #{book.faculty}#{book.fname}
              td #{book.stock}
              td
                a.btn.btn-primary(href='/book/view/'+book.id, target='_blank') 详细信息
                a.btn.btn-danger(href='/book/delete/'+book.id) 删除条目
    ul#pagination.pagination.pagination-lg
      if pre
        li
          a(href='/book/'+pre) <<
      li
        a(href='#') #{page}
      if next
        li
          a(href='/book/'+next) >>
